server:
  port: 8084

spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:postgresql://notification-db:5432/notification_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: notification_service
        jdbc:
          batch_size: 50
        order_updates: true
        order_inserts: true
  flyway:
    schemas: notification_service
    baseline-on-migrate: true
    locations: classpath:db/migration
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false
      spring.json.trusted.packages: "*"

topic:
  like-sent: like-sent-event
  like-removed: like-removed-event
  post-created: post-created-event
  post-removed: post-removed-event
  subscription-created: subscription-created-event
  subscription-removed: subscription-removed-event

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

post-service:
  url: http://post-service:8081
feed-service:
  url: http://feed-service:8082
