server:
  port: 8081

spring:
  application:
    name: post-service
  datasource:
    url: jdbc:postgresql://post-db:5432/post_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: post_service
      jdbc:
        batch_size: 100
      order_updates: true
      order_inserts: true
  flyway:
    enabled: true
    schemas: post_service
    baseline-on-migrate: false
    locations: classpath:db/migration
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false
      spring.json.trusted.packages: "*"

topic:
  post-created: post-created-event
  post-removed: post-removed-event

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

user-service:
  url: http://user-service:8080
media-service:
  url: http://media-service:8086
