server:
  port: 8087

spring:
  application:
    name: profile-service
  datasource:
    url: jdbc:postgresql://profile-db:5432/profile_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: profile_service
  flyway:
    enabled: true
    schemas: profile_service
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka

topic:
  post-created: post-created-event
  post-removed: post-removed-event
  comment-created: comment-created-event
  comment-removed: comment-removed-event

url:
  user-service: http://user-service:8080

resilience4j:
  circuitbreaker:
    instances:
      user-service:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
        failureRateThreshold: 50
        slowCallRateThreshold: 50
        slowCallDurationThreshold: 2s
        eventConsumerBufferSize: 50
        writableStackTraceEnabled: false
        recordExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.net.SocketTimeoutException
          - java.net.ConnectException
          - java.util.concurrent.TimeoutException
          - java.io.IOException
        ignoreExceptions:
          - com.merfonteen.exceptions.BadRequestException
          - com.merfonteen.exceptions.FileStorageException
          - com.merfonteen.exceptions.ForbiddenException
          - com.merfonteen.exceptions.InvalidFileException
          - com.merfonteen.exceptions.NotFoundException
          - com.merfonteen.exceptions.ServiceUnavailableException
          - com.merfonteen.exceptions.TooManyRequestsException
          - org.springframework.web.client.HttpClientErrorException

  retry:
    instances:
      user-service:
        maxAttempts: 3
        waitDuration: 200ms
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        randomizedWaitFactor: 0.5
        retryExceptions:
          - org.springframework.web.client.HttpServerErrorException
          - org.springframework.web.reactive.function.client.WebClientRequestException
          - java.net.SocketTimeoutException
          - java.net.ConnectException
          - java.util.concurrent.TimeoutException
          - java.io.IOException
        ignoreExceptions:
          - com.merfonteen.exceptions.BadRequestException
          - com.merfonteen.exceptions.FileStorageException
          - com.merfonteen.exceptions.ForbiddenException
          - com.merfonteen.exceptions.InvalidFileException
          - com.merfonteen.exceptions.NotFoundException
          - com.merfonteen.exceptions.ServiceUnavailableException
          - com.merfonteen.exceptions.TooManyRequestsException
          - org.springframework.web.client.HttpClientErrorException

  ratelimiter:
    instances:
      user-service:
        limitForPeriod: 100
        limitRefreshPeriod: 1s
        timeoutDuration: 0
        registerHealthIndicator: true
        eventConsumerBufferSize: 100

  bulkhead:
    instances:
      user-service:
        maxConcurrentCalls: 25
        maxWaitDuration: 0

  timelimiter:
    instances:
      user-service:
        timeoutDuration: 3s
        cancelRunningFuture: true



