spring:
  application:
    name: feed-service
  datasource:
    url: jdbc:postgresql://feed-db:5432/feed_service_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: feed_service
  flyway:
    enabled: true
    schemas: feed_service
    baseline-on-migrate: true
    locations: classpath:db/migration
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis
  kafka:
    bootstrap-servers: kafka:9092
    properties:
      spring.json.add.type.headers: false
      spring.json.trusted.packages: "*"

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8082
